html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}
body {
  padding: 20px;
  background-image: linear-gradient(to bottom, #FFFFFF 30%, #88D9FF, #24206C, #222 80%);
  color: #333;
  background-size: 100% 400%;
  background-position: 100% 0%;
  transition: all 1s;
}
